{{#if isPostShowing}}
    <span class="post-header"><span class="post-title">{{post.title}}</span> by {{post.username}}</span><span class="hide-post" {{action 'postHide'}}>hide</span><br><br>{{#link-to 'post' post.id}}<span class="teaser-image"><img src={{post.imageURL}}></span><span class="teaser-link">VIEW FULL POST</span>{{/link-to}}
{{else}}
  <span class="post-label" {{action 'postShow'}}><span class="post-title">{{post.title}}</span> by {{post.username}}</span>
{{/if}}
