<span class="post-header"><span class="post-title">{{post.title}}</span> by {{post.username}}</span>
<br><br>
{{post.caption}}
<br><br>
<img src={{post.imageURL}}>
<br><br>
{{post-update post=post updatePost="updatePost"}}
<span class="delete-post" {{action 'deletePost' post}}>delete</span>
<br><br>
<h2>Comments:</h2>
<ul>
{{#each post.comments as |comment|}}
<li>
  {{comment-detail comment=comment destroyComment="destroyComment"}}{{comment-update comment=comment updateComment="updateComment"}}
</li>
{{/each}}
</ul>
