{{#if isPostShowing}}
  <span class="post-title">{{post.title}} by {{post.username}}</span><br><br>{{post.caption}}<br><br><img src={{post.imageURL}}><br><br>{{post-update post=post update="update"}}<span class="hide-post" {{action 'postHide'}}>hide</span>&nbsp;&nbsp;&nbsp;<span class="delete-post" {{action 'delete' post}}>delete</span>
{{else}}
  <span class="post-label" {{action 'postShow'}}>{{post.title}} by {{post.username}}</span>
{{/if}}
